/* Styles for desktop */
.row {
    display: flex;
    justify-content: space-between;
}

.column {
    width: 45%;
}

/* Styles for mobile */
@media (max-width: 768px) {
    .form-columns {
        flex-direction: column;
    }

    .column {
        width: 100%;
    }
}